.header{
    height:5rem;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
 

}
.logo{
    width: fit-content;
}
.nav a{
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}
.link-active{
    border-bottom: 0.1rem solid yellow;
}
.user{
    margin-right: 1rem;
}