@font-face {
    font-family: Roboto;
    src: url("src/assets/fonts/Roboto-Bold.ttf");
    font-weight: bolder;
}
@font-face {
    font-family: Roboto;
    src: url("src/assets/fonts/Roboto-Thin.ttf");
    font-weight: lighter;
}
@font-face {
    font-family: Roboto;
    src: url("src/assets/fonts/Roboto-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: Roboto;
    src: url("src/assets/fonts/Roboto-Medium.ttf");
    font-weight: bold;
}



*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: Roboto;
}
img{
    width: 100%;
    object-fit: cover;
    display: block;
}